.additional-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    &__list{
        box-shadow: var(--box-shadow);
        backdrop-filter: blur(8px);
        padding: 34px;
        border-radius: var(--card-border-radius);
        height: 100%;
    }
}