.preloader {
    display: inline-flex;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-color);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .preloader:before,
  .preloader:after {
    content: "";
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
      #fff;
    transform: scaleX(1) rotate(0deg);
    animation: eyeroll 1s infinite linear;
  }
  
  @keyframes eyeroll {
    100% {transform:scaleX(1) rotate(360deg);}
  }