.search-group{
    @include flex-center;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 15px;
    height: 100%;
    border: 3px solid transparent;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    padding: 20px;
    width: 30%;
    background-color: var(--blur-bg-color);
    backdrop-filter: blur(10px);

    &__form{
        @include flex-center;
        position: relative;
        width: 90%;
    }

    &__field{
        width: 100%;
        border-radius: var(--input-border-radius);
        border: var(--border-light);
        background-color: var(--blur-bg-color);
        backdrop-filter: blur(10px);
        color: var(--light-color);
        padding: var(--input-padding);
        outline: none;

        &::placeholder{
            color: rgba(255, 255, 255, .6);
        }
    }

    &__forecast,
    &__current{
        @include flex-center;
        align-items: start;
        flex-direction: column;
        row-gap: 15px;
        width: 100%;
    }

}