.today-forecast{
    @include flex-center;
    justify-content: normal;
    flex-direction: column;
    row-gap: 30px;
    align-items: start;

    &__list{
        @include flex-center;
        column-gap: 32px;
    }

    &__item{
        padding: 20px;
    }
}