body{
    font-family: var(--font-main);
    font-weight: 600;

    @include elastic-text(16, 24);

    color: var(--light-color);
    background-color: var(--bg-color);

    background-image: url(/assets/images/reuben-wu-long-exposure-photography-circle-salt-lakes-hd-wallpaper-c9b0c8ad214a0d1b2617a80f70a1c67d.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include flex-center;
}

* {
    transition-duration: var(--transition-duration);
}

a{
    color: inherit;
    text-decoration: none;
}