body{
    font-family: var(--font-main);
    font-weight: 600;

    @include elastic-text(14, 18);

    color: var(--light-color);
    background-color: var(--bg-color);

    background-image: url(/assets/images/gray-concrete-road-between-buildings-64ed8fb91dcf652c73174c43a0fa023e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include flex-center;
}

* {
    transition-duration: var(--transition-duration);
}

a{
    color: inherit;
    text-decoration: none;
}