:root{
    // цвета
    --dark-color: rgb(25, 25, 25);;
    --dark-color-alt: ;
    --accent-color: ;
    --accent-color-alt: ;
    --light-color: #f0f0f0;
    --light-color-alt: ;
    --bg-color: rgb(25,25,25);
    --blur-bg-color: rgba(255, 255, 255, 0.05);

    // радиус рамок
    --card-border-radius: 16px;
    --input-border-radius: 12px;
    --btn-border-radius: 10px;
    --circle-border-radius: 50%;

    // borders
    --border-heavy: 6px solid var(--light-color);
    --border-medium: 3px solid var(--light-color);
    --border-light: 1px solid var(--light-color);

    // шрифты
    --font-main: monospace, sans-serif;

    // тени
    --box-shadow: 0px 4px 16px var(--dark-color);

    // размеры контейнера
    --container-width: 1240px;
    --container-padding-x: 30px;
    --container-padding-y: 40px;

    // отступы внутри кнопок
    --btn-padding: 12px;

    // отступы внутри input
    --input-padding: 0 12px;

    // высоты элементов
    --input-height: 40px;

    // длительность переходов
    --transition-duration: .3s;
}