:root{
    // цвета
    --dark-color: rgb(25, 25, 25);
    --light-color: #f0f0f0;
    --blur-bg-color: rgba(255, 255, 255, 0.1);

    // радиус рамок
    --card-border-radius: 16px;
    --input-border-radius: 12px;
    --circle-border-radius: 50%;

    // borders
    --border-heavy: 6px solid var(--light-color);
    --border-medium: 3px solid var(--light-color);
    --border-light: 1px solid var(--light-color);

    // шрифты
    --font-main: monospace, sans-serif;

    // тени
    --box-shadow: 0px 4px 12px var(--dark-color);
    --box-shadow-light: 0px 4px 16px var(--light-color);

    // размеры контейнера
    --container-width: 1100px;
    --container-padding-x: 30px;
    --container-padding-y: 40px;

    // отступы внутри кнопок
    --btn-padding: 12px;

    // отступы внутри input
    --input-padding: 8px 12px;

    // длительность переходов
    --transition-duration: .3s;

    // длительность анимаций
    --animation-duration: .4s;
}