@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --dark-color: rgb(25, 25, 25);
  --light-color: #f0f0f0;
  --blur-bg-color: rgba(255, 255, 255, 0.1);
  --card-border-radius: 16px;
  --input-border-radius: 12px;
  --circle-border-radius: 50%;
  --border-heavy: 6px solid var(--light-color);
  --border-medium: 3px solid var(--light-color);
  --border-light: 1px solid var(--light-color);
  --font-main: monospace, sans-serif;
  --box-shadow: 0px 4px 12px var(--dark-color);
  --box-shadow-light: 0px 4px 16px var(--light-color);
  --container-width: 1100px;
  --container-padding-x: 30px;
  --container-padding-y: 40px;
  --btn-padding: 12px;
  --input-padding: 8px 12px;
  --transition-duration: .3s;
  --animation-duration: .4s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  padding-block: var(--container-padding-y);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: clamp(14px, 1.25vw, 18px);
  color: var(--light-color);
  background-color: var(--dark-color);
  background-image: url(./assets/images/gray-concrete-road-between-buildings-64ed8fb91dcf652c73174c43a0fa023e.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: var(--light-color);
}

.preloader {
  display: inline-flex;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-color);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader:before,
.preloader:after {
  content: "";
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, rgba(0, 0, 0, 0)) 35% 35%/6px 6px no-repeat #fff;
  transform: scaleX(1) rotate(0deg);
  animation: eyeroll 1s infinite linear;
}

@keyframes eyeroll {
  100% {
    transform: scaleX(1) rotate(360deg);
  }
}
.weather-app__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: normal;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  border-radius: var(--card-border-radius);
  padding: 34px;
  -moz-column-gap: 80px;
       column-gap: 80px;
  box-shadow: var(--box-shadow-light);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.btn--search {
  background-color: transparent;
  border: none;
  padding: none;
  position: absolute;
  right: 5%;
}
.btn--prev, .btn--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 111111;
}
.btn--prev {
  left: 0;
}
.btn--next {
  right: 0;
}

.search-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: 15px;
  height: 100%;
  border: 3px solid transparent;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  padding: 20px;
  width: 30%;
  background-color: var(--blur-bg-color);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.search-group__form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
}
.search-group__field {
  width: 100%;
  border-radius: var(--input-border-radius);
  border: var(--border-light);
  background-color: var(--blur-bg-color);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--light-color);
  padding: var(--input-padding);
  outline: none;
}
.search-group__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-group__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-group__field--welcome {
  width: 600px;
  height: 50px;
}
.search-group__forecast, .search-group__current {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.future-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  align-items: start;
  border-top: var(--border-light);
  padding: 15px 0 0 0;
  width: 100%;
}
.future-forecast__list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
  row-gap: 15px;
}
.future-forecast__item {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.today-group {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  width: 70%;
}
.today-group__forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: normal;
  flex-direction: column;
  row-gap: 30px;
  align-items: start;
  width: 90%;
}
.today-group__top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.today-group__slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  border: none;
  position: relative;
}
.today-group__list-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 16px 0;
}
.today-group__list {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  height: auto;
  transition: var(--transition-duration) ease-in-out;
  transform: translateX(0);
  width: 100%;
}
.today-group__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
  box-shadow: var(--box-shadow);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: var(--card-border-radius);
  margin: 0 12px;
  min-width: 134px;
  flex-shrink: 0;
}
.today-group__time {
  border-bottom: var(--border-light);
}
.today-group__temperature {
  font-size: 28px;
}
.today-group__highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
  row-gap: 30px;
  width: 90%;
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switcher__input {
  visibility: hidden;
}
.switcher__wrapper {
  border: var(--border-light);
  width: 70px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: var(--blur-bg-color);
}
.switcher__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: var(--light-color);
  border-radius: 2px;
}
.switcher__option {
  color: var(--dark-color);
}
.switcher__option--second {
  display: none;
}
@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(35px);
  }
}
@keyframes toggleOff {
  0% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(0);
  }
}

.additional-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}
.additional-data__list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
  row-gap: 15px;
  box-shadow: var(--box-shadow);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 34px;
  border-radius: var(--card-border-radius);
  height: 100%;
}/*# sourceMappingURL=styles.css.map */